<!DOCTYPE html>
<html>
<head>
	<title>Details</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


</head>
<body>
	<div class="container">
		<div class="row">
			
			<div class="panel panel-info">
				<div class="panel-heading"><strong>Details</strong></div>
  				<div class="panel-body">
  					<div class="col-md-4">
  						<img class="img-responsive" alt="Image" th:src="@{/img/light.jpeg}">
  					</div>
  					<div class="col-md-6">
  						<table>
  							<tr>
  								<td><strong>Alert number :</strong></td>
  								<td></td>
  							</tr>
  							<tr>
  								<td><strong>Category :</strong></td>
  								<td></td>
  							</tr>
  							<tr>
  								<td><strong>Product :</strong></td>
  								<td></td>
  							</tr>
  							<tr>
  								<td><strong>Brand :</strong></td>
  								<td></td>
  							</tr>
  							<tr>
  								<td><strong>Name :</strong></td>
  								<td></td>
  							</tr>
  							<tr>
  								<td><strong>Type/Number of Model :</strong></td>
  								<td></td>
  							</tr>
  							<tr>
  								<td><strong>Barcode :</strong></td>
  								<td></td>
  							</tr>
  							<tr>
  								<td><strong>Batch Number :</strong></td>
  								<td></td>
  							</tr>
  						</table>
  					</div>
  					<div class="col-md-12">

  						<div class="col-xs-2">
  							<h2 class="glyphicon glyphicon-thumbs-up"><span>12</span></h2>
  							
  						</div>
  						
  						<div class="col-xs-2">
  							<h2 class="glyphicon glyphicon-thumbs-down"><span>0</span></h2>
  							
  						</div>

  						<div class="col-md-4"></div>
  					</div>
  					<div class="col-md-12">
  						<ul class="list-group">
						    <li class="list-group-item"><strong>Risk type : </strong><p></p></li>
						    <li class="list-group-item"><strong>Description : </strong><p></p></li>
						    <li class="list-group-item"><strong>Packaging Description : </strong><p></p></li>
						    <li class="list-group-item"><strong>Country of Origin : </strong><p></p></li>
						    <li class="list-group-item"><strong>Alert Submitted by : </strong><p></p></li>
						    <li class="list-group-item"><strong>Type of Alert : </strong><p></p></li>
						    <li class="list-group-item"><strong>Year-week : </strong><p></p></li>
					  	</ul>
  					</div>
  					<div class="col-md-12">
  						<div class="panel panel-primary">
  							<div class="panel-heading">
  								<strong>Comments</strong>
  							</div>

  							<div class="panel-body">
  								<ul>
		  							<li>This shoud be more descriptive</li>
		  							<li>This really helpful</li>
  								</ul>
  							</div>
  						</div>
  						
  					</div>
  				</div>
			</div>

		</div>
	</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
