<!DOCTYPE html>
<html lang="en">
<head>
<title>product list page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body class="">
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<nav class="navbar navbar-lightjustify-content-between">
						<a class="navbar-brand"><img th:src="@{/images/logo.png}"
							alt="logo" width="145"></a>
						<form class="form-inline" th:action="@{/product/search}"
							method="get">
							<input class="form-control" type="text" placeholder="Search"
								aria-label="Search" name="q">
							<button class="search-btn" type="submit">Search</button>
						</form>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<div class="paroduct-list">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<th:block th:each="product : ${products}">
					<div class="list__view row">
						<div class="col-sm-3">
							<a class="first__img" href="single-product.html"><img
								th:src="@{/images/product/1.jpg}" alt="product images"
								class="img-thumbnail"></a>
						</div>
						<div class="content col-sm-9">
							<h2>
								<a th:href="@{/product/item(i=${product.id})}"><span th:text="${product.name}"></span></a>
							</h2>
							<div class="prize__box">
								<span th:text="${product.category}"></span>
							</div>
							<p th:text="${product.description}"></p>
							<a th:href="@{/product/item(i=${product.id})}" class="btn add-to-cart">Details</a>
						</div>
					</div>
					</th:block>
					<!-- 
					<div class="list__view row">
						<div class="col-sm-3">
							<a class="first__img" href="single-product.html"><img
								th:src="@{/images/product/2.jpg}" alt="product images"
								class="img-thumbnail"></a>
						</div>
						<div class="content col-sm-9">
							<h2>
								<a href="single-product.html">Cosmetics</a>
							</h2>
							<div class="prize__box">
								<span>Skin Lightening Product</span>
							</div>
							<p>40 g of face cream packed in a red and yellow cardboard
								box with the faces of two women.</p>
							<button type="button" class="btn add-to-cart">Details</button>
						</div>
					</div>
					<div class="list__view row">
						<div class="col-sm-3">
							<a class="first__img" href="single-product.html"><img
								th:src="@{/images/product/3.jpg}" alt="product images"
								class="img-thumbnail"></a>
						</div>
						<div class="content col-sm-9">
							<h2>
								<a href="single-product.html">Clothing</a>
							</h2>
							<div class="prize__box">
								<span>Rainwear</span>
							</div>
							<p>Rain jacket and trousers made of yellow PVC material.</p>
							<button type="button" class="btn add-to-cart">Details</button>
						</div>
					</div>
					<div class="list__view row">
						<div class="col-sm-3">
							<a class="first__img" href="single-product.html"><img
								th:src="@{/images/product/4.jpg}" alt="product images"
								class="img-thumbnail"></a>
						</div>
						<div class="content col-sm-9">
							<h2>
								<a href="single-product.html">Childcare Articles</a>
							</h2>
							<div class="prize__box">
								<span>USB Nightlight</span>
							</div>
							<p>USB Nightlight in dome form with shapes cut into upper
								half-sphere for projection</p>
							<button type="button" class="btn add-to-cart">Details</button>
						</div>
					</div>
					<div class="list__view row">
						<div class="col-sm-3">
							<a class="first__img" href="single-product.html"><img
								th:src="@{/images/product/5.jpg}" alt="product images"
								class="img-thumbnail"></a>
						</div>
						<div class="content col-sm-9">
							<h2>
								<a href="single-product.html">Electrical Appliances</a>
							</h2>
							<div class="prize__box">
								<span>USB Charger</span>
							</div>
							<p>Black plastic USB charger, delivering 1A, sold in a
								plastic packaging.</p>
							<button type="button" class="btn add-to-cart">Details</button>
						</div>
					</div>
					<div class="list__view row">
						<div class="col-sm-3">
							<a class="first__img" href="single-product.html"><img
								th:src="@{/images/product/6.jpg}" alt="product images"
								class="img-thumbnail"></a>
						</div>
						<div class="content col-sm-9">
							<h2>
								<a href="single-product.html">Sports Equipment</a>
							</h2>
							<div class="prize__box">
								<span>Swimming Gloves</span>
							</div>
							<p>Coloured gloves (depending on size S = turquoise, M = red,
								L = blue); padded web between the fingers; cuff with Velcro
								fastening; Articles 9634 and 9635: Upper: Textile (80%
								polyamide, 20% elastane), palm: 100% neoprene; Articles 9636 and
								9667: Upper and palm: 100% neoprene</p>
							<button type="button" class="btn add-to-cart">Details</button>
						</div>
					</div>
					 -->
					<div class="toolbar">
						<ul class="pagination">
							<li class="page-item"><a class="page-link" href="#">Previous</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a></li>
						</ul>
					</div>
				</div>
				<!-- <div class="col-sm-3">
      <div class="shop__sidebar">
        <ul class="sidebar-links">
              <li ><a href="#">Home</a></li>
              <li ><a href="#">About</a></li>
              <li ><a href="#">Login</a></li>
            </ul>
      </div> -->
			</div>
		</div>

	</div>
</body>
</html>
